/* CSS Document */

.chat-window {
    position: fixed;
	float:left;
    top: 150px;
	right: 157px;
	width: 27px;
    z-index: 100001 !important;
	background: #59EFCD;
	border-radius: 10px 0px 0px 10px;
	text-align: center;
	vertical-align: middle;
	display: table;
}
.chat-window.open {
	width:500px;
}

.chat-window, .chat-window .switch, .chat-window .content {
	height: 350px;
}

.chat-window .switch {
	width: 27px;
	float:left;
	background: #59EFCD;
	border-radius: 10px 0px 0px 10px;
	cursor:pointer;
}

.chat-window .content {
	float:right; 
	width:470px; 
	background:#99FFCD;
	display:none;
}


.chat-window .content .messages {
	height:270px;
	margin:20px;
	background:#FFFFFF;
	overflow:scroll !important;
}
.chat-window .content .message-field {
	width:300px;
	margin-right:20px;
}

